*{
    margin: 0;
    padding: 0;
}

/* first section */

.header{
    min-height: 100vh;
    width: 100%;
    background: url(images/sunset\ dish.JPG);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
 
.text_box{
    width: 90%;
    color: black;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text_box h1{
    font-size: 50px;
}
.text_box p{
    margin: 10px 0 40px;
    font-size: 19px;
    color: black;
}

/* second section */


.modems_pricing{
    text-align: center;
    font-size: 20px;
    padding: 20px;
    background: #f2f2f2;
}
.row{
    display: flex;
    gap: 10px;
}
.container{
    background-color: #f9fafb;
    height: 350px;
    width: 300px;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
}
hr{
    background-color: black;
}
.container ul li{
    list-style: none;
    margin: 12px 0;
    text-align: left;
}
.container h2{
    margin-bottom: 10px;
}

.container button{
    background-color: #101010;
    width: 80%;
    height: 40px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 16px;
    margin: 18px 0;
    cursor: pointer;
    border-radius: 50px;
}   
.container button:hover{
    text-decoration: underline;
}
.container button:active{
    opacity: .8;
}
.container p{
    color: #777;
    margin: 15px 0;
    font-size: 15px;
    font-weight: bold;
}

/* third section */


.about_us{
    background: #f2f2f2;
    text-align: center;
    padding: 20px;
    margin: 30px 0;
}
.about_us h1{
    text-align: center;
    padding: 20px;
    font-size: 45px;
}
.about_celestial h2{
    font-size: 25px;
}
.about_celestial p{
    text-align: center;
    font-size: 17px;
    margin: 10px 0;
}
.vision h2{
    font-size: 25px;
}
.vision p{
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
}
.vanguard p{
    text-align: center;
    font-size: 17px;
    margin: 10px 0;
}


/* footer section */

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    font-size: 23px;
    margin: 15px 0;
}
.footer .pizza p{
    color: black;
    font-size: 20px;
}
.footer .follow{
    margin-top: 20px;
}
.footer .follow ul li{
    display: inline;
}
.footer .follow ul li a{
    font-size: 18px;
    color: black;
    text-decoration: none;
    margin-right: 20px;
}
.footer .pizza p a{
    margin-top: 10px;
    text-decoration: none;
}
.footer .pizza p a:hover{
    color: #777;
    text-decoration: underline;
}
.footer .pizza p a:active{
    opacity: .8;
}
.footer .follow ul li a:hover{
    color: #777;
}
.copy{
    margin-top: 13px;
    font-size: 17px;
}


/* Responsiveness */

@media(max-width:700px) {
   .row{
    display: block;
    margin: 10px 60px;
   }
   .container{
    width: 100%;
   }
   .superb{
    padding: 20px;
   }
   .pizza{
    padding: 15px;
   }
   .copy{
    padding: 10px;
   }
}





